*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.one{
    background-color: black;
    height: 100vh;
    padding-top: 50px;
}
    
.two{
    background-color: orange;
    height: 20vh;
    width: 80%;
    margin: auto;
    border: 5px solid red 
}

.three{
    background-color: orange;
    height: 20vh;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border: 5px solid red
}

.four{
    background-color: orange;
    height: 20vh;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    border: 5px solid red
}
